
header {
    background-color: #ffd700;
    text-align: center;
    color: #008080;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;     
}

main {
    background-color: aliceblue;
    color:rgb(87, 66, 14) ;
    margin: 10px;
    font-size: larger;
    border-radius: 10px;     
}

.description {
    border: 2px solid black; 
    padding: 10px;     
}

.music {
        margin: 10px;
/* postavit v serednine */
   }

footer {
    background-color: rgb(227, 188, 89);
    color: rgb(252, 253, 253);
    font-size: large;
    border: 5px;
    border-radius: 10px;     
}