
header {
    background-color: #ffd700;
    text-align: center;
    color: #008080;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border:3px solid black;
    margin: 40px;
}
body {
  background-image: url('./background.jpg'); /* Ścieżka do obrazu */
  background-size: cover; /* Sprawia, że obraz pokrywa cały obszar */
  background-position: center; /* Obraz zostanie wyśrodkowany */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
}

main {
    color:rgb(87, 66, 14) ;
    font-size: larger;
}

.description {
    background-color: #ffd700;
    border: 2px solid black; 
    padding: 10px;  
    margin: 20px;   
}
.content-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

.custom-img {
    max-width: 100%; 
    width: 560px;
    height: auto; 
    display: block;
  }
  
  .graphic-element1 {
    position: absolute;
    width: 250px; 
    height: auto;
    top: -60px; 
    right: 500px;
  }
  .graphic-element2 {
    position: absolute;
    width: 250px; 
    height: auto;
    top: 150px; 
    right: 480px;
  }
  .graphic-element3 {
    position: absolute;
    width: 250px; 
    height: auto;
    top: -130px; 
    right: -150px;
  }
  .graphic-element4 {
    position: absolute;
    width: 250px; 
    height: auto;
    top: 210px; 
    right: -180px;
  }
  
.music {
        margin: 10px;
   }   

footer {
    background-color: rgb(227, 188, 89);
    color: rgb(252, 253, 253);
    font-size: large;
    border-radius: 10px;   
    margin: 40px;  
}